<div class="container">
  <h2>
    Data Employee
  </h2>
  <button class="btn btn-primary my-3" (click)="open(addEmployee, '')">Add Emlpoyee</button>
  <table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions">
    <thead>
      <tr>
        <th>Nomor</th>
        <th>Username</th>
        <th>Email</th>
        <th>Basic Salary</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employeeList; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ employee.username }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.basic_salary }}</td>
        <td>
          <button class="btn btn-success btn-sm" (click)="open(detailEmployee, employee.id)">Detail</button>
          |
          <button class="btn btn-warning btn-sm" (click)="open(editEmployee, employee.id)">Edit</button>
          |
          <button class="btn btn-danger btn-sm">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <ng-template #addEmployee let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Form Add Employee</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="formEmployee" (ngSubmit)='save()'>
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" formControlName="username" [ngClass]="{ 'is-invalid': submitted && formErr.username.errors, 'form-control': true}" placeholder="Enter Username" required>
          <div *ngIf="submitted && formErr.username.errors" class="invalid-feedback">
            <div *ngIf="formErr.username.errors.required">Username is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="firtsname">Firtsname:</label>
          <input type="text" formControlName="firtsname" [ngClass]="{ 'is-invalid': submitted && formErr.firtsname.errors, 'form-control': true}" placeholder="Enter firtsname" required>
          <div *ngIf="submitted && formErr.firtsname.errors" class="invalid-feedback">
            <div *ngIf="formErr.firtsname.errors.required">firtsname is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="lastname">Lastname:</label>
          <input type="text" formControlName="lastname" [ngClass]="{ 'is-invalid': submitted && formErr.lastname.errors, 'form-control': true}" placeholder="Enter lastname" required>
          <div *ngIf="submitted && formErr.lastname.errors" class="invalid-feedback">
            <div *ngIf="formErr.lastname.errors.required">lastname is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email address:</label>
          <input type="email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && formErr.email.errors, 'form-control': true}" placeholder="Enter email" required [email]="true">
          <div *ngIf="submitted && formErr.email.errors" class="invalid-feedback">
            <div *ngIf="formErr.email.errors.required">email is required</div>
            <div *ngIf="formErr.email.errors.email">Email must be a valid email address</div>
          </div>
        </div>
        <div class="form-group">
          <label for="birthDate">BirthDate:</label>
          <input formControlName="birthDate" [bsConfig]="{ dateInputFormat: 'MMM DD YYYY' }" [ngClass]="{ 'is-invalid': submitted && formErr.birthDate.errors, 'form-control': true}" placeholder="Enter birthDate" required bsDatepicker [maxDate]="today">
          <div *ngIf="submitted && formErr.birthDate.errors" class="invalid-feedback">
            <div *ngIf="formErr.birthDate.errors.required">birthDate is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="basicSalary">Basic Salary:</label>
          <input type="number" formControlName="basicSalary" [ngClass]="{ 'is-invalid': submitted && formErr.basicSalary.errors, 'form-control': true}" placeholder="Enter basicSalary" required>
          <div *ngIf="submitted && formErr.basicSalary.errors" class="invalid-feedback">
            <div *ngIf="formErr.basicSalary.errors.required">basicSalary is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="status">Status:</label>
          <input type="text" formControlName="status" [ngClass]="{ 'is-invalid': submitted && formErr.status.errors, 'form-control': true}" placeholder="Enter status" required>
          <div *ngIf="submitted && formErr.status.errors" class="invalid-feedback">
            <div *ngIf="formErr.status.errors.required">status is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="group">Group:</label>
          <ng-select formControlName="group" [items]="dataGroups" [ngClass]="{ 'is-invalid': submitted && formErr.group.errors}" required></ng-select>
          <div *ngIf="submitted && formErr.group.errors" class="invalid-feedback">
            <div *ngIf="formErr.group.errors.required">group is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="description">Description:</label>
          <input type="text" formControlName="description" [ngClass]="{ 'is-invalid': submitted && formErr.description.errors, 'form-control': true}" placeholder="Enter description" required>
          <div *ngIf="submitted && formErr.description.errors" class="invalid-feedback">
            <div *ngIf="formErr.description.errors.required">description is required</div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </ng-template>

  <ng-template #detailEmployee let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Detail Employee</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div *ngFor="let employee of employeeDtl">
        <div class="row">
          <div class="col">Username</div>
          <div class="col">{{ employee.username }}</div>
        </div>
        <div class="row">
          <div class="col">Firtsname</div>
          <div class="col">{{ employee.firstname }}</div>
        </div>
        <div class="row">
          <div class="col">Lastname</div>
          <div class="col">{{ employee.lastname }}</div>
        </div>
        <div class="row">
          <div class="col">Email</div>
          <div class="col">{{ employee.email }}</div>
        </div>
        <div class="row">
          <div class="col">Basic Salary</div>
          <div class="col">{{ employee.basic_salary | currency:'IDR' }}</div>
        </div>
        <div class="row">
          <div class="col">status</div>
          <div class="col">{{ employee.status }}</div>
        </div>
        <div class="row">
          <div class="col">Birthday</div>
          <div class="col">{{ employee.birthdate }}</div>
        </div>
        <div class="row">
          <div class="col">Group</div>
          <div class="col">{{ employee.group }}</div>
        </div>
        <div class="row">
          <div class="col">Description</div>
          <div class="col">{{ employee.description }}</div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-danger btn-block" (click)="modal.dismiss()">OK</button>
    </div>
  </ng-template>

  <ng-template #editEmployee let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Edit Employee</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <h4>Edit Employee</h4>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-danger btn-block" (click)="modal.dismiss()">OK</button>
    </div>
  </ng-template>
</div>