<div class="container">
  <h2>
    Data Employee
  </h2>
  <button class="btn btn-primary">Add</button>
  <table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions">
    <thead>
      <tr>
        <th>Nomer</th>
        <th>Username</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>birthdate</th>
        <th>Basic Salary</th>
        <th>Status</th>
        <th>Group</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employeeList; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ employee.username }}</td>
        <td>{{ employee.firstName }}</td>
        <td>{{ employee.lastName }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.birthDate }}</td>
        <td>{{ employee.basicSalary }}</td>
        <td>{{ employee.status }}</td>
        <td>{{ employee.group }}</td>
        <td>{{ employee.description }}</td>
        <td>
          <button class="btn btn-warning btn-sm">Edit</button>
          |
          <button class="btn btn-danger btn-sm">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>