@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
@import "~@ng-select/ng-select/themes/material.theme.css";

.wrapper-body {
    background-color: #943e46;
    margin-top: 2rem;
    color: #fcc5c0;
}